ion-content {
  --background: #f8f9fa;
  padding: 16px;
}

ion-title {
  color: #4682b4;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

ion-item {
  --background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 8px 0;
}

ion-input {
  color: #333333;
}

ion-icon {
  color: #ff4500;
}

ion-text.text-olvidar,
ion-text.text-crear {
  display: block;
  text-align: center;
  color: #4682b4;
  margin-top: 16px;
}

ion-button {
  background-color: #ff6347;
  color: #ffffff;
  margin-top: 16px;
  border-radius: 20px;

  &:hover {
    background-color: #ff4500;
  }
}

