<ion-content class="ion-content">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-title>Iniciar Sesión</ion-title>

    <!-- Correo Electrónico -->
    <ion-item>
      <ion-input
        formControlName="email"
        placeholder="Correo Electrónico Maximo 50 caracteres"
        maxlength="50"
      ></ion-input>
    </ion-item>

    <!-- Contraseña -->
    <ion-item class="custom-input">
      <ion-input
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Contraseña Maximo 20 caracteres"
        maxlength="20"
      ></ion-input>
      <ion-icon
        [name]="showPassword ? 'eye-off' : 'eye'"
        slot="end"
        (click)="toggleShowPassword()"
      ></ion-icon>
    </ion-item>
    <ion-text class="text-olvidar">¿Olvidaste tu contraseña?</ion-text>
    <!-- Botón de Iniciar Sesión -->
    <ion-button expand="block" type="submit"> Iniciar Sesión </ion-button>
    <ion-text class="text-crear"> ¿No tienes una cuenta?</ion-text>
    <ion-button expand="block" type="button" routerLink="/register">
      Crear Cuenta
    </ion-button>
  </form>
</ion-content>
