/* Contenedor principal */
ion-content {
  --background: #118ceb;
  text-align: center;
}

form {
  display: flex; /* Usar flexbox para centrar los elementos */
  flex-direction: column; /* Alinear elementos en columna */
  justify-content: center; /* Centrar elementos verticalmente */
  height: auto; /* Ajustar la altura automáticamente */
  padding: 20px; /* Añadir un poco de espacio alrededor del formulario */
  max-width: 400px; /* Limitar el ancho máximo del contenedor */
  margin-left: auto; /* Centrar horizontalmente */
  margin-right: auto; /* Centrar horizontalmente */
  border-radius: 8px;
  width: 100%;
  ion-title {
    text-align: center;
    background-color: #3bd415; /* Color verde */
    padding: 10px; /* Espacio alrededor del título */
    border-radius: 20px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio debajo del título */
    width: 100%;
    justify-content: center;
  }
  ion-item {
    margin-bottom: 15px; /* Espacio entre los campos de entrada */
    --placeholder-color: #070707; /* Color del placeholder */
    --background: rgb(255, 255, 255); /* Color de fondo del input */
    --border-radius: 20px; /* Bordes redondeados */
    --color: rgb(0, 0, 0); /* Color del texto en el input */
    width: 100%; /* Ancho del input ajustado */
    ion-input {
      --padding-top: 10px;
      text-align: center;
      font-size: large;
      margin-bottom: 15px; /* Espacio entre los campos de entrada */
      --padding-start: 10px;
      margin-bottom: 15px; /* Espacio entre los campos de entrada */
      --placeholder-color: #070707; /* Color del placeholder */
      --background: rgb(255, 255, 255); /* Color de fondo del input */
      --border-radius: 20px; /* Bordes redondeados */
      --color: rgb(1, 1, 1); /* Color del texto en el input */
      width: 100%; /* Ancho del input ajustado */
    }
  }
  /* Botón de iniciar sesión */
  ion-button {
    --background: #2feb00; /* Color de fondo del botón */
    --border-radius: 20px; /* Bordes redondeados */
    width: 100%; /* Ancho del botón ajustado */
  }
  ion-button:active {
    transform: scale(0.95);
  }

  ion-button[disabled] {
    --background: #2feb00;
    --border-radius: 20px; /* Bordes redondeados */
  }
  ion-icon {
    margin-right: 5px;
    color: black;
    transform: translateY(-3px);
  }

  /* Estilo de los íconos de alerta */
  ion-text[color="danger"] ion-icon {
    color: #eb445a;
  }

  /* Estilo del texto de alerta */
  ion-text[color="danger"] p {
    margin: 5px 0;
    font-size: 14px;
  }

  /* Ajuste de las alertas de validación */
  ion-text p {
    padding-left: 10px;
  }
}

/* Mensajes de error */
.notificaciones {
  font-size: 14px;
  display: flex;
  align-items: center;
}

ion-icon {
  margin-right: 5px;
}

/* Estilo de los íconos de alerta */
ion-text[color="danger"] ion-icon {
  color: #eb445a;
}

/* Estilo del texto de alerta */
ion-text[color="danger"] p {
  margin: 5px 0;
  font-size: 14px;
}

/* Ajuste de las alertas de validación */
ion-text p {
  padding-left: 10px;
}
.text-crear {
  margin-top: 20px;
  color: #070707;
}
.text-olvidar {
  margin-top: -5px;
  margin-bottom: 10px;
  margin-left: 172px;
  color: #070707;
}
.custom-input {
  margin-bottom: 15px; /* Espacio entre los campos de entrada */
  --placeholder-color: #070707; /* Color del placeholder */
  --background: rgb(255, 255, 255); /* Color de fondo del input */
  --border-radius: 15px; /* Bordes redondeados */
  --color: rgb(1, 1, 1); /* Color del texto en el input */
  width: 100%; /* Ancho del input ajustado */
}
