<ion-content class="ion-content">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-title>Iniciar Sesión</ion-title>

    <!-- Correo Electrónico -->
    <ion-item>
      <ion-input
        formControlName="email"
        placeholder="Correo Electrónico"
      ></ion-input>
    </ion-item>

    <!-- Contraseña -->
    <ion-item>
      <ion-input
        formControlName="password"
        type="password"
        placeholder="Contraseña"
      ></ion-input>
    </ion-item>
    <ion-text class="text-olvidar">¿Olvidaste tu contraseña?</ion-text>
    <!-- Botón de Iniciar Sesión -->
    <ion-button expand="block" type="submit"> Iniciar Sesión </ion-button>
    <ion-text class="text-crear"> ¿No tienes una cuenta?</ion-text>
    <ion-button expand="block" type="button" routerLink="/register">
      Crear Cuenta
    </ion-button>
  </form>
</ion-content>
