.menu-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  --border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-icon ion-icon { color: #000000 !important; /* Asegura que el color del ícono sea negro */ }