<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="fetchAndStoreNews()">Actualizar Noticias</ion-button>

  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <ion-list *ngIf="!isLoading">
    <ion-card *ngFor="let news of newsList">
      <ion-card-header>
        <ion-card-title>{{ news.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ news.description }}</p>
      </ion-card-content>
      <div class="card-footer">
        <ion-button (click)="markAsRead(news.id)" slot="end">Marcar como vista</ion-button>
        <ion-button (click)="openLink(news.url)" slot="end">Abrir Enlace</ion-button>
      </div>
    </ion-card>
  </ion-list>
</ion-content>


