<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="fetchAndStoreNews()">Actualizar Noticias</ion-button>

  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let news of newsList">
      <ion-label>
        <h2>{{ news.title }}</h2>
        <p>{{ news.description }}</p>
      </ion-label>
      <ion-button slot="end" (click)="markAsRead(news.id)"
        >Marcar como vista</ion-button
      >
      <ion-button slot="end" (click)="openLink(news.url)"
        >Abrir Enlace</ion-button
      >
    </ion-item>
  </ion-list>
</ion-content>
