<ion-header>
  <ion-toolbar>
    <ion-title>Quien Soy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <ion-item>
        <ion-label position="floating">Ingrese su Nombre</ion-label>
        <ion-input formControlName="full_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ingrese su Edad</ion-label>
        <ion-input type="number" formControlName="age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ingrese su Ubicación</ion-label>
        <ion-input formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Foto</ion-label>
        <input type="file" (change)="onFileChange($event)" />
      </ion-item>
      <ion-button expand="full" type="submit" [disabled]="!registerForm.valid"
        >Guardar Cambios</ion-button
      >
    </form>
  </div>
</ion-content>
