ion-header {
  --background: #4682b4;
  color: #ffffff;

  ion-toolbar {
    --background: #4682b4;
    color: #ffffff;

    ion-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    ion-buttons ion-button {
      color: #ffffff;
    }
  }
}

ion-content {
  --background: #f8f9fa;
  padding: 16px;
}

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-item {
  --background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 8px 0;
}

ion-label {
  color: #4682b4;
}

ion-input {
  color: #333333;
}

input[type="file"] {
  display: block;
  margin-top: 8px;
  color: #333333;
}

ion-button {
  background-color: #ff6347 !important; /* Color de fondo */
  color: #ffffff !important; /* Color del texto */
  margin-top: 16px;
  border-radius: 20px !important; /* Botones más circulares */
  
  &::part(native) {
    background-color: #ff6347 !important; /* Color de fondo para el componente nativo */
    color: #ffffff !important; /* Color del texto para el componente nativo */
  }

  &:hover {
    background-color: #ff4500 !important; /* Color de fondo al pasar el mouse */
  }

  &:active {
    background-color: #ff4500 !important; /* Color de fondo cuando el botón está activo */
  }

  &:focus {
    background-color: #ff4500 !important; /* Color de fondo cuando el botón está enfocado */
  }
}

