<ion-content>
  <!-- Botón de retroceso y título -->
  <div class="custom-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <h1>Configuración de Tamaño</h1>
  </div>

  <form [formGroup]="preferencesForm" (ngSubmit)="savePreferences()">
    <ion-item>
      <ion-label>Button Size</ion-label>
      <ion-input type="number" formControlName="button_size"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Text Size</ion-label>
      <ion-input type="number" formControlName="text_size"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Image Size</ion-label>
      <ion-input type="number" formControlName="image_size"></ion-input>
    </ion-item>

    <ion-button type="submit" [disabled]="!preferencesForm.valid"
      >Save Preferences</ion-button
    >
  </form>

  <ion-button (click)="savePreferences()">Save Preferences</ion-button>
</ion-content>
