<ion-content>
  <!-- Botón de retroceso y título -->
  <div class="custom-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <h1>Configuración</h1>
  </div>

  <ion-content>
    <ion-item>
      <ion-label> Tamaño de Fuente </ion-label>
      <ion-input
        [(ngModel)]="fontSize"
        type="number"
        min="10"
        max="50"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Altura del Botón </ion-label>
      <ion-input
        [(ngModel)]="buttonHeight"
        type="number"
        min="20"
        max="100"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Tamaño del Ícono </ion-label>
      <ion-input
        [(ngModel)]="iconSize"
        type="number"
        min="16"
        max="64"
      ></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="saveSettings()"
      >Guardar Configuraciones</ion-button
    >
  </ion-content>
</ion-content>
