<ion-content class="ion-content">
  <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <ion-title>Registro de Sesión</ion-title>

      <ion-item class="custom-input">
        <ion-input formControlName="name">Nombre</ion-input>
      </ion-item>
      <ion-text color="danger">
        <p
          class="notificaciones"
          *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid && registerForm.get('name')?.value === ''"
        >
          <ion-icon name="warning" slot="start"></ion-icon>
          El nombre es obligatorio
        </p>
      </ion-text>

      <ion-item class="custom-input">
        <ion-input formControlName="email">Correo Electrónico</ion-input>
      </ion-item>
      <ion-text color="danger">
        <p
          class="notificaciones"
          *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid && registerForm.get('email')?.value === ''"
        >
          <ion-icon name="warning" slot="start"></ion-icon>
          El correo es obligatorio
        </p>
        <p
          class="notificaciones"
          *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].value && !registerForm.controls['email'].value.includes('@')"
        >
          <ion-icon name="warning" slot="start"></ion-icon>
          El correo no es válido
        </p>
        <p
          class="notificaciones"
          *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('pattern')"
        >
          <ion-icon name="warning" slot="start"></ion-icon>
          Por favor, ingresa un correo válido con dominio ejemplo:(gmail,
          outlook, etc)
        </p>
      </ion-text>

      <ion-item class="custom-input">
        <ion-input formControlName="password" type="password"
          >Contraseña</ion-input
        >
      </ion-item>
      <ion-text color="danger">
        <p
          class="notificaciones"
          *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid && registerForm.get('password')?.value === ''"
        >
          <ion-icon name="warning" slot="start"></ion-icon>
          La contraseña es obligatoria
        </p>
        <p
          class="notificaciones"
          *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors?.['minlength']"
        >
          <ion-icon name="warning" slot="start"></ion-icon>
          La contraseña debe tener al menos 8 caracteres
        </p>
      </ion-text>

      <ion-button expand="block" type="submit" [disabled]="registerForm.invalid"
        >Registrarse</ion-button
      >
    </form>
  </div>
</ion-content>
